<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.starterkit.views.EditView"
            id="com.starterkit.views.EditView"
            name="Edit View"
            restorable="true">
      </view>
      <view
            class="com.starterkit.views.TaskView"
            id="com.starterkit.views.TaskView"
            name="Tasks"
            restorable="true">
      </view>
      <view
            class="com.starterkit.views.ArchiveView"
            id="com.starterkit.views.ArchiveView"
            name="Archive View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.starterkit.views.tasks">
         <view
               id="com.starterkit.views.TaskView"
               ratio="0.75"
               relationship="top"
               relative="org.eclipse.help.ui.HelpView">
         </view>
         <view
               id="com.starterkit.views.EditView"
               minimized="false"
               ratio="0.65"
               relationship="right"
               relative="com.starterkit.views.TaskView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.starterkit.views.archive">
         <view
               id="com.starterkit.views.ArchiveView"
               minimized="false"
               ratio="0.9"
               relationship="top"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.starterkit.views.TaskPerspectiveFactory"
            id="com.starterkit.views.tasks"
            name="TODOs">
      </perspective>
      <perspective
            class="com.starterkit.views.ArchivePerspectiveFactory"
            id="com.starterkit.views.archive"
            name="Archive">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <command
               commandId="com.starterkit.views.command1"
               label="Me mad bro"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.starterkit.views.command1"
            name="Action">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.starterkit.views.handlers.Action"
            commandId="com.starterkit.views.command1">
      </handler>
   </extension>

</plugin>
